{% extends 'base.html.twig' %}

{% block content %}
    <h1 style="text-align: center">Advent Of Code helper : Day 06 2024 part two</h1>
    <video autoplay loop muted style="margin: auto; display: block">
        <source src="{{ asset('helper/2024/Day06/partTwo.mp4') }}" type="video/webm" />
    </video>
{% endblock %}